{% extends 'layout/basic.html' %}

{% block navigation %}
</head>
<body>
    <h2>Категория: {{ current_item_type.name_adv }} {{ current_action.name_catalog }}</h2>
    <div>
        <p><a href="{% url 'by_type'  current_item_type.name  %}">{{ current_item_type.name_adv }}</a>
        <a href="{% url 'by_action' current_action.name %}">{{ current_action.name_catalog }}</a></p>
    </div>
{% endblock %}

{%block content %}
    {% for bb in bbs %}
    <div>
        <a href="{% url 'show_adv' bb.item_type bb.id %}">{{ bb.specification }}</a>
        <p> {{ bb.time_create|date:'d.m.Y H:i' }}</p>
    </div>
    {% endfor %}
{% endblock %}
</body>
</html>