{% extends 'layout/basic.html' %}

{% block content %}
<body>
    <h2>Категория:  {{ current_item_type.name_adv }} {{ current_action.name_catalog }}</h2>
    <div>
        {% for  item_type in  item_types %}
        <a href="{% url 'by_type' item_type %}">{{  item_type.name_adv }}</a>
        {% endfor %}
        <p> </p>
        {% for action in  actions %}
        <a href="{% url 'by_action' action %}">{{  action.name_catalog }}</a>
        {% endfor %}
    </div>
    <div>
        <h2>{{ adv.specification }}</h2>
        <p> {{ adv.time_create|date:'d.m.Y H:i' }}</p>
    </div>
</body>
{% endblock %}